/* HEADER */

  .header {
    padding: 80px; /* some padding */
  }
  
  /* Increase the font size of the <h1> element */
  .header h1 {
    font-size: 50px;
    text-transform: uppercase;
  }

/* NAVBAR */
/* Style the top navigation bar */
  .navbar {
    position: fixed;
    top: 0;
    overflow: hidden;
    background-color: #ffeffd;
    width: 100%;
    padding: 10px 10px;
    left: 0;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    top: 0;
    float: right; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons (see below) */
    text-align: center; /* Center the text */
    padding: 12px 20px; /* Add some padding */
    text-decoration: none;
    color:black;
  }
  
  /* Right-aligned link */
  .navbar a.left {
    float: left; /* Float a link to the right */
  }
  
  /* Change color on hover/mouse-over */
  .navbar a:hover {
    background-color: #ffccf7; /* Grey background color */
  }


/* MAIN SECTIONS (PROJECTS ETC) */

* {
  box-sizing: border-box;
}

body {
  background-color: #ffeffd;
  padding: 20px;
  font-family: Helvetica, sans-serif;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

.section {
  padding-top: 25px;
  padding-bottom: 25px;
}

.section h1 {
  font-size: 40px;
  word-break: break-all;
  text-transform: uppercase;
}

.section h2 {
  text-transform: uppercase;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.container {
  position: relative;
  width: 100%;
  height: 50px;
}

.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: black;
  /*background: #ffccf7; */
  font-size: 15px;
  text-transform: uppercase;
  padding: 14px 28px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.container .btn:hover {
  background-color: #ffccf7;
  border-width: 5px;
  border-color: black;
}

/* CONTACT ME SECTION */

.columnx2 {
  float: left;
  width: 50%;
}

.columnx3 {
  float: left;
  width: 33%;
}

/* Clear floats after the columns */
.rowx2:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 800px) {
  .columnx2 {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .columnx3 {
    width: 100%;
  }
}


.contact_container .btn {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: black;
  /*background: #ffccf7; */
  font-size: 15px;
  text-transform: uppercase;
  padding: 14px 28px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.contact_container .btn:hover {
  background-color: #ffccf7;
  border-width: 5px;
  border-color: black;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border-radius: 4px; /* Rounded borders */
  border-width: 2px;
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  font-family: Helvetica, sans-serif;
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: white;
  color: black;
  padding: 12px 20px;
  border-color: black;
  border-radius: 4px;
  cursor: pointer;
}

.envelope-container {
  position: relative;
  text-align: center;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 150px;
  left: 40px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 150px;
  left: 40px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 150px;
  right: 40px;
}

/* Top left text */
.top-center {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 150px;
  right: 40px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 57.5%;
  left: 40px;
  right: 40px;
  transform: translate(0, -50%);
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #ffccf7;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.social-links a{
  text-align: center;
  line-height: 45px;
  vertical-align: middle;
	float: left;
	width: 45px;
	height: 45px;
	border-radius: 100%;
	margin-right: 7px; /*space between*/
  text-decoration: none;
} 
.social-links a i{
	font-size: 20px;
  margin: 0 auto;
}

.social-links a:hover{
  opacity: 70%;
}

.social-links-left {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 10px;
}

.social-links-left a{
  text-align: center;
  line-height: 45px;
  vertical-align: middle;
	float: left;
	width: 45px;
	height: 45px;
	border-radius: 100%;
	margin-right: 10px; /*space between*/
  text-decoration: none;
} 
.social-links-left a i{
	font-size: 20px;
  margin: 0 auto;
}

.social-links-left a:hover{
  opacity: 70%;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-envelope {
  background: #ff3578;
  color: white;
}

/* Twitter */
.fa-linkedin {
  background: #1c60ff;
  color: white;
}

.fa-github {
  background: #821cff;
  color: white;
}

/* Add a background color and some padding around the form */
.note_container {
  border-radius: 5px;
  /*background-color: white; */
  padding: 10px;
}

/* FOOTER */

  .footer {
    padding: 20px; /* Some padding */
    text-align: center; /* Center text*/
    background: #ffccf7;
  }